
<!-- Add Modal HTML -->
<div class="modal fade" id="addStudentModal" data-bs-theme="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="addStudentModalLabel">Add Student</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'app_addrecord' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="txt_inst_Name" class="col-form-label mandatory">Name:</label>
                        <input type="text" class="form-control" id="txt_inst_Name" name="inst_Name" required>
                    </div>
                    <div class="form-group">
                        <label for="txt_inst_Age" class="col-form-label mandatory">Age:</label>
                        <input type="text" class="form-control" id="txt_inst_Age" name="inst_Age" required>
                    </div>
                    <div class="form-group">
                        <label for="txt_inst_E_mail" class="col-form-label mandatory">Email:</label>
                        <input type="email" class="form-control" id="txt_inst_E_mail" name="inst_E_mail" required>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label>Address</label>-->
<!--                        <textarea class="form-control" required></textarea>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Phone</label>-->
<!--                        <input type="text" class="form-control" required>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label for="txt_inst_Password" class="col-form-label mandatory">Password:</label>
                        <input type="password" class="form-control" id="txt_inst_Password" name="inst_Password" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>