{% extends 'Modal_app_2/base.html' %}
<title>{% block title %} Students Registration Edit Student {% endblock title %}</title>
{% block content %}
{% load static %}
<!-- Edit Form HTML -->
{% if stu %}
<div class="row d-flex justify-content-center" data-bs-theme="">
    <div class="col-sm-6">
        <div class="myForm">
            <h4 class="text-left alert alert-info">
                Edit Student Information
            </h4>
            <hr class="new1">
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <p class="form-group">
                    <label for="txt_upd_Name">Name:<span class="mandatory"></span></label>
                    <input class="form-control" id="txt_upd_Name" maxlength="100" name="upd_Name" type="text" value="{{stu.Name}}" required>
                </p>
                <p class="form-group">
                    <label for="txt_upd_Age">Age:<span class="mandatory"></span></label>
                    <input class="form-control" id="txt_upd_Age" maxlength="100" name="upd_Age" type="text" value="{{stu.Age}}" required>
                </p>
                <p class="form-group">
                    <label for="txt_upd_E_mail">e-Mail:<span class="mandatory"></span></label>
                    <input class="form-control" id="txt_upd_E_mail" maxlength="300" name="upd_E_mail" type="email" value="{{stu.E_mail}}" required>
                </p>
                <p class="form-group">
                    <label for="txt_upd_Password">Password:<span class="mandatory"></span></label>
                    <input class="form-control" id="txt_upd_Password" maxlength="50" name="upd_Password" type="password" value="{{stu.password}}" required>
                </p>
                <hr class="new1">
                <div class="form-group text-end">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '{% url 'App_home' %}';">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}



{% endblock content %}